<tr>
    <th>Tool Profile:</th>
    <td>{{view Ember.Select value=3d_toolType content=toolShapes optionValuePath="content.id" optionLabelPath="content.label"}}</td>
</tr>
<tr>
    <th title="in all directions">Leave Stock:</th>
    <td>{{view Visucam.NumberField numericValue=3d_leaveStock min="0"}}</td>
</tr>
<tr>
    <th>Min Z:</th>
    <td>{{view Visucam.NumberField numericValue=3d_minZ}}</td>
</tr>
<tr>
    <th title="Engagement in %">Diametral Engagement:</th>
    <td>{{view Visucam.NumberField numericValue=3d_diametralEngagement}}</td>
</tr>
<tr>
    <th>Path Orientation:</th>
    <td>{{view Ember.Select value=3d_pathOrientation content=pathOrientations optionValuePath="content.id" optionLabelPath="content.label"}}</td>
</tr>
<tr>
    <th title="to skip the beginning of the toolpath">Start %:</th>
    <td>{{view Visucam.NumberField numericValue=3d_startPercent}}</td>
</tr>
<tr>
    <th title="to skip the end of the toolpath">Start %:</th>
    <td>{{view Visucam.NumberField numericValue=3d_stopPercent}}</td>
</tr>
<tr>
<th></th>
    <td>
        <button class="btn btn-default" {{action compute3D}} {{bind-attr disabled=computing}}>Compute{{#if computing}}
            <i class="fa fa-cog fa-spin"></i>{{/if}}</button>
    </td>
</tr>