<tr>
    <th>Tool Profile:</th>
    <td>{{view Ember.Select value=3d_toolType content=toolShapes optionValuePath="content.id" optionLabelPath="content.label"}}</td>
</tr>
<tr>
    <th title="in all directions">Leave Stock:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_leaveStock min="0"}}
        <span class="input-group-addon" id="percent3">mm</span></td>
</tr>
<tr>
    <th>Min Z:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_minZ}}
        <span class="input-group-addon" id="percent3">mm</span></td>
</tr>
<tr>
    <th title="Engagement in %">Diametral Engagement:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_diametralEngagement aria-describedby="percent3"}}
        <span class="input-group-addon" id="percent3">%</span></td>
</tr>
<tr>
    <th title="in degrees">Path Orientation:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_pathOrientation min=-90 max=90 increment=1}}
        <span class="input-group-addon" id="degrees">°</span></td>
</tr>
<tr>
    <th title="to skip the beginning of the toolpath">Start:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_startPercent}}
        <span class="input-group-addon" id="percent1">%</span></td>
</tr>
<tr>
    <th title="to skip the end of the toolpath">Stop:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=3d_stopPercent}}
        <span class="input-group-addon" id="percent2">%</span></td>
</tr>
<tr>
    <th>zigzag:</th>
    <td>{{input type="checkbox" checked=3d_zigZag}}</td>
</tr>
<tr>
    {{#if task}}
        {{#if task.isPaused}}
            <td style="text-align: right;">
                <button class="btn btn-default" {{action cancel}}><i class="fa fa-stop"></i> Cancel</button>
            </td>
            <td>
                <button class="btn btn-default" {{action resume}}><i class="fa fa-play"></i> Resume</button>
            </td>
        {{else}}
            <td></td>
            <td>
                <button class="btn btn-default" {{action pause}}><i class="fa fa-pause"></i> Pause <i
                        class="fa fa-cog fa-spin"></i></button>
            </td>
        {{/if}}
    {{else}}
        <td></td>
        <td>
            <button class="btn btn-default" {{action compute3D}}><i class="fa fa-play"></i> Compute</button>
        </td>
    {{/if}}
</tr>