<div class="viewContainer">
    {{view Simulator.ThreeDView}}
    {{view Simulator.TwoDView}}
</div>
<div class="editBlock">
    {{view Ember.Select content=languages value=selectedLanguage}}
    {{#if usingGcode}}
        {{gcode-editor content=code annotations=errors currentRow=currentRow}}
    {{else}}
        {{js-editor content=jscode annotations=errors currentRow=currentRow}}
    {{/if}}
    <button {{action "simulate"}} {{bind-attr disabled="computing"}}>Simulate</button>

    {{#if computing}}
        <div id="loader">&nbsp;</div>
    {{else}}
        {{partial "jobView"}}
    {{/if}}
</div>