{{view Simulator.GraphicView}}
<div class="editBlock">
    {{#if canSelectLanguage}}
        {{view Ember.Select content=languages value=selectedLanguage}}
    {{/if}}
    {{#if usingGcode}}
        {{gcode-editor content=code annotations=errors currentRow=currentRow}}
    {{else}}
        {{js-editor content=jscode annotations=errors currentRow=currentRow}}
    {{/if}}
    <button {{action "simulate"}} {{bind-attr disabled="computing"}}>Simulate</button>
    <button {{action "loadBigSample"}} {{bind-attr disabled="computing"}}>Load a bigger sample</button>

    {{#if computing}}
        <div id="loader">&nbsp;</div>
    {{else}}
        {{partial "jobView"}}
    {{/if}}
</div>