<div class="viewContainer">
    {{view Simulator.ThreeDView}}
    {{view Simulator.TwoDView}}
</div>
<div class="editBlock">
    {{gcode-editor content=code annotations=errors currentRow=currentRow}}
    <button {{action "simulate"}} {{bind-attr disabled="computing"}}>Simulate</button>
    <button {{action "loadBigSample"}} {{bind-attr disabled="computing"}}>Load a bigger sample</button>

    {{#if computing}}
        <div id="loader">&nbsp;</div>
    {{else}}
        {{partial "jobView"}}
    {{/if}}
</div>