<div>
    {{#if isConnected}}
        <button class="btn btn-default" {{action "createExample"}}>Create Example</button>
        <button class="btn btn-default" {{action "createJob"}}>Create New Job</button>
        <ul>
            {{#each model}}
                <li>
                    {{#link-to "job" this}}{{name}}{{/link-to}}
                </li>
            {{else}}
                No job yet.
            {{/each}}
        </ul>
    {{else}}
        Welcome, you need to log in before anything else.
    {{/if}}
</div>