<div>
    {{#if firebase.isAuthenticated}}
        <h2>Jobs
            <button title="create new job" class="btn btn-default" {{action "createJob"}}>+</button>
        </h2>
        <div class="list-group" style="display:inline-block;">
            {{#each model}}
                {{#link-to "job" this._data.job.id classNames="list-group-item"}}{{name}}{{/link-to}}
            {{else}}
                No job yet.
            {{/each}}
        </div>
        <br>
        <button class="btn btn-default" {{action "createExample"}}>Create Example</button>
    {{else}}
        Welcome, you need to log in before anything else.
    {{/if}}
</div>