<div>
    {{#if firebase.isAuthenticated}}
        <h2>Jobs
            <button title="create new job" class="btn btn-default" {{action "createJob"}}>+</button>
        </h2>
        <ul>
            {{#each model}}
                <li>
                    {{#link-to "job" this}}{{name}}{{/link-to}}
                </li>
            {{else}}
                No job yet.
            {{/each}}
        </ul>
        <button class="btn btn-default" {{action "createExample"}}>Create Example</button>
    {{else}}
        Welcome, you need to log in before anything else.
    {{/if}}
</div>