<div class="jobDetail">
    <button class="btn btn-default" {{action save}} {{bind-attr disabled=saveDisabled}}>Save</button>
    <table class="form">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{input value=name}}</td>
        </tr>
        <tr>
            <th>Safety Z:</th>
            <td>{{view Visucam.NumberField numericValue=safetyZ}}</td>
        </tr>
        <tr>
            <th title="in mm">Tool Diameter:</th>
            <td>{{view Visucam.NumberField numericValue=toolDiameter min="0.001" step="0.001"}}</td>
        </tr>
        <tr>
            <th>Tool Flutes:</th>
            <td>{{view Visucam.NumberField numericValue=toolFlutes min=1 step=1}}</td>
        </tr>
        <tr>
            <th title="in m/min">Surface Speed:</th>
            <td>{{view Visucam.NumberField numericValue=surfaceSpeed min=1 max=1000}}</td>
        </tr>
        <tr>
            <th title="in mm">Chip Load:</th>
            <td>{{view Visucam.NumberField numericValue=chipLoad min="0.001" step="0.001"}}</td>
        </tr>
        <tr>
            <th title="in RPM">Speed:</th>
            <td>{{view Visucam.NumberField numericValue=speed min=1 step=10}}</td>
        </tr>
        <tr>
            <th title="in mm/min">Feedrate:</th>
            <td>{{view Visucam.NumberField numericValue=feedrate min=10 max=3000 step=10}}</td>
        </tr>
        <tr>
            <th title="travel path is displayed in red">Display Travel</th>
            <td>{{input type="checkbox" checked=showTravel}}</td>
        </tr>
        </tbody>
    </table>
    <h2>Shapes</h2>
    <ul class="list-group">
        {{#each shapes itemController="shapeListItem"}}
            {{#link-to "shape" this classNames="list-group-item"}}{{name}}
                <span class="delete badge" {{action "delete"}} title="Delete Shape"><i
                        class="fa fa-times"></i></span>{{/link-to}}
        {{else}}
            No shape yet. Try dropping a SVG file on the window.
        {{/each}}
    </ul>
    <h2>Operations
        <button title="create new operation" class="btn btn-default" {{action "createOperation"}}>+</button>
    </h2>
    <div class="list-group">
        {{#each operations itemController="operationListItem"}}
            {{#link-to "operation" this classNames="list-group-item"}}{{name}}
                <span class="delete badge" {{action "delete"}} title="Delete Operation"><i
                        class="fa fa-times"></i></span>{{/link-to}}
        {{else}}
            No operation yet.
        {{/each}}
    </div>
</div>
<div class="viewContainer">
    {{view Visucam.ThreeDView}}
</div>
<div class="operation">
    {{outlet}}
</div>