<div class="jobDetail">
    <button class="btn btn-default" {{action save}} {{bind-attr disabled=saveDisabled}}>Save</button>
    <div id="deleteBlock">
        <div id="realDelete" style="display: none;">
            {{input id="deleteSlider" type="range" min=0 max=1 step="0.1" value=deleteSlider}}
            <span id="slideToDelete">Slide right deletes the job</span>
            <span id="releaseToDelete" style="display: none;font-weight: bold">Release mouse to delete</span>
        </div>
        <div id="fakeDelete">
            <button class="btn btn-default">Delete</button>
        </div>
    </div>
    <table class="form">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{input value=name}}</td>
        </tr>
        <tr>
            <th>Safety Z:</th>
            <td>{{number-input numericValue=safetyZ}}</td>
        </tr>
        <tr>
            <th title="in mm">Tool Diameter:</th>
            <td class="input-group input-group-sm">{{number-input numericValue=toolDiameter min="0.001" step="0.001"}}
                <span class="input-group-addon">mm</span></td>
        </tr>
        <tr class="speedComputerForm speedComputerFormFirst">
            <td colspan="2">{{input type="checkbox" checked=computeSpeedFeed}} Compute Speed and Feed</td>
        </tr>
        {{#if computeSpeedFeed}}
            <tr class="speedComputerForm">
                <th>Tool Flutes:</th>
                <td>{{number-input numericValue=toolFlutes min=1 step=1}}</td>
            </tr>
            <tr class="speedComputerForm">
                <th title="in m/min">Surface Speed:</th>
                <td class="input-group input-group-sm">{{number-input numericValue=surfaceSpeed min=1 max=1000}}
                    <span class="input-group-addon">m/min</span></td>
            </tr>
            <tr class="speedComputerForm">
                <th title="in mm">Chip Load:</th>
                <td class="input-group input-group-sm">{{number-input numericValue=chipLoad min="0.001" step="0.001"}}
                    <span class="input-group-addon">mm</span></td>
            </tr>
            <tr class="speedComputerForm">
                <th title="in RPM">Speed:</th>
                <td class="input-group input-group-sm">{{number-input numericValue=speed min=1 step=10}}
                    <span class="input-group-addon">rpm</span></td>
            </tr>
            <tr class="speedComputerForm speedComputerFormLast">
                <th title="in mm/min">Feedrate:</th>
                <td>{{computedFeedrate}} mm/min</td>
            </tr>
        {{else}}
            <tr>
                <th title="in mm/min">Feedrate:</th>
                <td class="input-group input-group-sm">{{number-input numericValue=userFeedrate min=10 max=3000 step=10}}
                    <span class="input-group-addon">mm/min</span></td>
            </tr>
        {{/if}}
        <tr>
            <th title="start the spindle before the job, then stop it after completion">Start Spindle</th>
            <td>{{input type="checkbox" checked=startSpindle}}</td>
        </tr>
        <tr>
            <th title="travel path is displayed in red">Display Travel</th>
            <td>{{input type="checkbox" checked=showTravel}}</td>
        </tr>
        </tbody>
    </table>
    <h2>Shapes
        <button title="create new shape" class="btn btn-default" {{action "createShape"}}>+</button>
    </h2>
    <ul class="list-group shapeList">
        {{#each shapes itemController="shapeListItem"}}
            {{#link-to "shape" this classNames="list-group-item"}} <span {{action "toggleHide"}}
                    title="Toggle Visibility" style="display:inline-block; width: 16px;"><i
                    class="fa fa-eye"></i></span>
                <span {{bind-attr class="visible:shape-visible:shape-hidden"}}>{{name}}</span>
                <span class="delete" {{action "delete"}} title="Delete Shape" style="float:right"><i
                        class="fa fa-times"></i></span>{{/link-to}}
        {{else}}
            No shape yet. Try dropping a SVG or STL file on the window.
        {{/each}}
    </ul>
    <h2>Operations
        <button title="create new operation" class="btn btn-default" {{action "createOperation"}}>+</button>
    </h2>
    <div class="list-group">
        {{#each operations itemController="operationListItem"}}
            {{#link-to "operation" this classNames="list-group-item"}}
                <span {{action "toggleEnabled"}} title="include in job or not"
                                                 style="display:inline-block; width: 16px;"><i
                    {{bind-attr class="enabled:fa-check-square-o:fa-square-o :fa"}}></i></span>
                {{name}}
                {{#if isRunning}}<i class="fa fa-play-circle" title="operation currently running"></i>{{/if}}
                {{#if computing}}<i class="fa fa-cog fa-spin" title="computing..."></i>{{/if}}
                <span class="delete" {{action "delete"}} title="Delete Operation" style="float:right"><i
                        class="fa fa-times"></i></span>{{/link-to}}
        {{else}}
            No operation yet.
        {{/each}}
    </div>
</div>
<div class="viewContainer">
    {{view Visucam.ThreeDView}}
</div>
<div class="operation">
    {{outlet}}
</div>