<tr>
    <th title="in mm">Bottom Z:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=bottom_Z}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th title="Engagement in %">Radial Engagement:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=pocket_engagement min="0" increment="1" max="100"}}
        <span class="input-group-addon">%</span></td>
</tr>
<tr>
    <th title="Lateral in mm">Leave Stock:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=leaveStock min="0"}}
        <span class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th title="Avoid straight plunging">Ramping Entry:</th>
    <td class="input-group input-group-sm">{{input type="checkbox" checked=pocket_ramping_entry}}</td>
</tr>
<tr>
    <th>Ramp Starting Z:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=top_Z disabled=noRamping}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th># of Ramping Turns:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=ramping_turns min="1" step="1" disabled=noRamping classNames="form-control"}}
        <span class="input-group-addon">units</span></td>
</tr>