<div>
    <table class="form">
        <tbody>
        <tr class="form-header">
            <th>Name:</th>
            <td>{{input value=name placeholder="name" classNames="form-control"}} </td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>{{view Ember.Select value=type content=operationDescriptors optionValuePath="content.class"
            optionLabelPath="content.label" classNames="form-control"}}</td>
        </tr>
        <tr>
            <th>Outline:</th>
            <td>
                {{view Ember.Select selection=outline content=suitableShapes optionValuePath="content.id"
                optionLabelPath="content.name" classNames="form-control"}}
            </td>
        </tr>
        <tr>
            <th title="Check the box and set a value for an operation specific feedrate. Otherwise the job feed rate will be used.">
                Feed Rate
                Over.:
            </th>
            <td class="input-group input-group-sm"><span class="input-group-addon">
                {{input type="checkbox" checked=feedrateOverride}}
            </span>{{number-input numericValue=feedrate min=0 max=3000 step=10 disabled=cannotChangeFeedrate}}<span
                    class="input-group-addon">mm/min</span></td>
        </tr>        {{partial specialTemplate}}
        </tbody>
    </table>
</div>