<tr>
    <th>Inside Shape</th>
    <td>{{input type="checkbox" checked=contour_inside}}</td>
</tr>
<tr>
    <th>Climb Milling</th>
    <td>{{input type="checkbox" checked=contour_climbMilling}}</td>
</tr>
<tr>
    <th title="How far the tool should stay away from the line in X-Y plane">Leave Stock:</th>
    <td>{{view Visucam.NumberView value=contour_leaveStock min="0"}}</td>
</tr>
<tr>
    <th>Start Z:</th>
    <td>{{view Visucam.NumberView value=ramping_startZ}}</td>
</tr>
<tr>
    <th>Stop Z:</th>
    <td>{{view Visucam.NumberView value=ramping_stopZ}}</td>
</tr>
<tr>
    <th># of turns:</th>
    <td>{{view Visucam.NumberView value=ramping_turns min="1" step="1"}}</td>
</tr>
