<tr>
    <th>Inside Shape</th>
    <td>{{input type="checkbox" checked=contour_inside}}</td>
</tr>
<tr>
    <th>Climb Milling</th>
    <td>{{input type="checkbox" checked=contour_climbMilling}}</td>
</tr>
<tr>
    <th title="How far the tool should stay away from the line in X-Y plane">Leave Stock:</th>
    <td class="input-group input-group-sm">{{number-input type="number" value=contour_leaveStock min="0"}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th>Start Z:</th>
    <td class="input-group input-group-sm">{{number-input type="number" value=ramping_startZ}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th>Stop Z:</th>
    <td class="input-group input-group-sm">{{number-input type="number" value=ramping_stopZ}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th># of turns:</th>
    <td class="input-group input-group-sm">{{number-input type="number" value=ramping_turns min="1" step="1"}}
        <span class="input-group-addon">units</span></td>
</tr>
