<div>
    <table class="form">
        <tbody>
        <tr class="form-header">
            <th>Name:</th>
            <td>{{input value=name placeholder="name"}}</td>
        </tr>
        {{#if isManual}}
            <tr>
                <th>Shape:</th>
                <td class="input-group input-group-sm">{{view Ember.Select value=shape content=shapeTypes}}</td>
            </tr>
            {{#if isRectangle}}
                <tr>
                    <th>Width:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=width}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
                <tr>
                    <th>Height:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=height}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
                <tr>
                    <th>X Offset:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=offsetX}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
                <tr>
                    <th>Y Offset:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=offsetY}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
            {{else}}
                <tr>
                    <th>Radius:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=radius}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
                <tr>
                    <th>X:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=x}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
                <tr>
                    <th>Y:</th>
                    <td class="input-group input-group-sm">{{number-input numericValue=y}} <span
                            class="input-group-addon">mm</span></td>
                </tr>
            {{/if}}
        {{/if}}
        </tbody>
    </table>

</div>