<div class="header">
    <div class="topMenu">{{#link-to "index"}}My Jobs{{/link-to}}</div>
    <div class="identity">
        {{#if firebase.isConnected}}
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    {{bind-attr title="authTitle"}}>
                    <i {{bind-attr class="authProviderIcon"}}></i> {{firebase.username}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action "logout"}}>logout</a>
                    </li>
                </ul>
            </div>
        {{else}}
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    login
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action "loginanonymous"}}><i
                            class="fa fa-eye-slash"></i> Anonymous Login</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action "logintwitter"}}><i
                            class="fa fa-twitter"></i> Twitter Login</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action "logingithub"}}><i
                            class="fa fa-github"></i> Github Login</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action "loginfacebook"}}><i
                            class="fa fa-facebook"></i> Facebook Login</a></li>
                </ul>
            </div>
        {{/if}}
    </div>
</div>
{{outlet}}