<div class="operations">
    <label>security Z: {{view Visucam.NumberView value=securityZ}}</label>
    <ul>
        {{#each operations itemController="operationListItem"}}
            <li {{bind-attr class="isCurrent:current"}}>{{#link-to "operation" this}}{{name}}{{/link-to}}</li>
        {{else}}
            No operation yet.
        {{/each}}
    </ul>
    {{outlet}}
</div>
<div class="viewContainer">
    {{view Visucam.TreeDView}}
    {{view Visucam.TwoDView}}
</div>